<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <!-- name is defined in the _config.yml file -->
    <span class="d-block d-lg-none">{{ site.resume_firstname }} {{ site.resume_lastname }}</span>
    <!-- You can turn off the avatar in _config.yml by setting to false -->
    {% if site.resume_avatar == 'true' %}
    <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded mx-auto mb-2" src="images/avatar.jpg" alt="my photo">
    </span>
    {% endif %}
  </a>
<!--
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#about">About</a>
      </li>
      {% if site.resume_section_experience %}
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
      </li>
      {% endif %}
      {% if site.resume_section_education %}
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#education">Education</a>
      </li>
      {% endif %}
      {% if site.resume_section_research %}
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#research">Research</a>
      </li>
      {% endif %}
      {% if site.resume_section_publications %}
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#publications">Publications</a>
      </li>
      {% endif %}
      {% if site.resume_section_software %}
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#software">Software</a>
      </li>
      {% endif %}
      {% if site.resume_section_students %}
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#students">Students</a>
      </li>
      {% endif %}
      {% if site.resume_section_teaching %}
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#teaching">Teaching</a>
      </li>
      {% endif %}
      {% if site.resume_section_projects %}
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
      </li>
      {% endif %}
      {% if site.resume_section_community %}
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#community">Community</a>
      </li>
      {% endif %}
      {% if site.resume_section_links %} 
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#links">Links</a>
      </li>
      {% endif %}
      {% if site.resume_social_links.resume_cv_url %}
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{ site.resume_social_links.resume_cv_url }}">CV</a>
      </li>
      {% endif %}  
    </ul>
  </div>
</nav>

<div class="container-fluid p-0">

  <!-- begin About -->
  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
      <h2 class="mb-0">{{ site.resume_firstname }}
        <span class="text-primary">{{ site.resume_lastname }}</span>
      </h2>
      <div class="subheading mb-5">{{ site.resume_contact_address }} · {{ site.resume_contact_mobile }} · 
        <a href="mailto:name@email.com">{{ site.resume_contact_emaila }}</a>
      </div>
      <!-- intro -->
      <p class="lead mb-5">{{ site.resume_header_introfull | markdownify }}</p>
      <!-- news -->
      <h4 class="mb-2">News</h4>
      {% for fileitems in site.news %}
      <div class="resume-item" itemtype="http://schema.org/CreativeWork">
        <p class="resume-content mr-auto">{{ fileitems.content | markdownify }}</p>
      </div><!-- end of resume-item -->
      {% endfor %}
      <!-- social links -->
      <div class="social-icons mt-5">
        {% if site.resume_social_links.resume_cv_url %}
        <a href="{{ site.resume_social_links.resume_cv_url }}">
            <i class="fa fa-user-o"></i>
        </a>   
        {% endif %}                
        {% if site.resume_social_links.resume_gitlab_url %}
        <a href="{{ site.resume_social_links.resume_gitlab_url }}">
          <i class="fab fa-gitlab"></i>
        </a>   
        {% endif %}
        {% if site.resume_social_links.resume_github_url %}
        <a href="{{ site.resume_social_links.resume_github_url }}">
          <i class="fab fa-github"></i>
        </a>   
        {% endif %}
        {% if site.resume_social_links.resume_linkedin_url %}
        <a href="{{ site.resume_social_links.resume_linkedin_url }}">
          <i class="fab fa-linkedin-in"></i>
        </a>
        {% endif %}          
        {% if site.resume_social_links.resume_twitter_url %}
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
        {% endif %}
        {% if site.resume_social_links.resume_facebook_url %}
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
        {% endif %}
      </div>
    </div>
  </section>
  <!-- end About -->



  {% if site.resume_section_research %}
  <!-- begin Research -->
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="research">
    <div class="my-auto">
      <h2 class="mb-5">Research</h2>
      {% for researchitem in site.research %}
      <div class="resume-item" itemtype="http://schema.org/CreativeWork">
        <p class="resume-content mr-auto">{{ researchitem.content | markdownify }}</p>
      </div><!-- end of resume-item -->
      {% endfor %}
    </div>
  </section>
  <!-- end Research -->
  {% endif %}


  {% if site.resume_section_publications %}
  <!-- begin Publis -->
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="publications">
      <div class="my-auto">
        <h2 class="mb-5">Publications</h2>
        {% for publi in site.publications %}
        <div class="resume-item" itemtype="http://schema.org/CreativeWork">
          <p class="resume-content mr-auto">{{ publi.content | markdownify }}</p>
        </div><!-- end of resume-item -->
        {% endfor %}
      </div>
    </section>
  <!-- end Publis -->
  {% endif %}


  {% if site.resume_section_software %}
  <!-- begin Soft -->
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="software">
    <div class="my-auto">
      <h2 class="mb-5">Software</h2>
      {% for soft in site.software reversed %}
       <div class="resume-item d-flex flex-column flex-md-row mb-5" itemtype="http://schema.org/CreativeWork">
         <meta itemprop="creator" content="{{ site.resume_name }}" itemtype="http://schema.org/Person" />
         <div class="resume-content mr-auto">
           <h3 class="mb-0" itemprop="name">
             {% if soft.link %}<a href="{{ soft.link }}">{{ soft.name }}</a>{% else %}{{ soft.name }}{% endif %}
           </h3>        
           <div class="subheading mb-3">
             {% if soft.organization %}{{ soft.organization }}  &bull; {% endif %} 
             {{ soft.duration }}
             {% if soft.sources %} &bull; sources: <a href="{{ soft.sources }}">{{ soft.sources }}</a>{% endif %}
           </div>
           <p>{{ soft.content | markdownify }}</p>
          </div><!-- end of resume-content -->
        </div><!-- end of resume-item -->
      {% endfor %}
    </div>
  </section>
  <!-- end Soft -->
  {% endif %}


  {% if site.resume_section_students %}
  <!-- begin Students -->
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="students">
    <div class="my-auto">
      <header class="section-header">
        <h2 class="mb-5">Students</h2>
      </header>

      <h3 class="mb-5" ><strong>PhD Students</strong></h3>
      {% for student in site.data.students-phd %}
      <div class="resume-item  d-flex flex-column flex-md-row mb-2">
        <div class="resume-content mr-auto">
          <h4 class="mb-0" itemprop="description">
            {{ student.name }} ({{ student.school}}) &bull; {{ student.duration}}
          </h4>
          <p class="resume-content mr-auto">
            {% if student.url %}
              <a href="{{ student.url }}">{{ student.title }}.</a>
            {% else %}
              {{ student.title }}.
            {% endif %}
            {% if student.codir %}<br>co-supervised with {{ student.codir }}.{% endif %}
            {% if student.alumni %}<br>{{ student.alumni }}{% endif %}
          </p>
        </div>
      </div>
      {% endfor %}

      <h3 class="mb-5" ><strong>Master and Engineer Students</strong></h3>
      {% for student in site.data.students %}
      <div class="resume-item  d-flex flex-column flex-md-row mb-2">
          <div class="resume-content mr-auto">
            <h4 class="mb-0" itemprop="description">
              {{ student.name }} 
              ({% if student.degree %}{{ student.degree }}{% endif %} 
              {{ student.school}}) &bull; {{ student.duration}}
            </h4>
            <p class="resume-content mr-auto">
              {% if student.url %}<a href="{{ student.url }}">{{ student.title }}.</a>
              {% else %}{{ student.title }}.{% endif %}
            </p>
          </div>
      </div>
      {% endfor %}
    </div>
  </section>       
  <!-- end Students -->
  {% endif %}


  {% if site.resume_section_teaching %}
  <!-- begin Teaching -->
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="teaching">
    <div class="my-auto">
      <h2 class="mb-5">Teaching</h2>
      {% for teachitem in site.teaching %}
      <div class="resume-item" itemtype="http://schema.org/CreativeWork">
        <p class="resume-content mr-auto">{{ teachitem.content | markdownify }}</p>
      </div><!-- end of resume-item -->
      {% endfor %}
    </div>
  </section>
  <!-- end Teaching -->
  {% endif %}



  {% if site.resume_section_projects %}
  <!-- begin Projects -->
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
    <div class="my-auto">
      <h2 class="mb-5">Projects</h2>

      {% for project in site.projects reversed %}
      <div class="resume-item d-flex flex-column flex-md-row mb-5" itemtype="http://schema.org/CreativeWork">
        <div class="resume-content mr-auto">
          <h3 class="mb-0" itemprop="name">
            {% if project.link %}<a href="{{ project.link }}">{{ project.name }}</a>
            {% else %}{{ project.name }}{% endif %} 
            ({{ project.network }})
          </h3>        
          {% if project.fullname %}<div class="subheading mb-3">{{ project.fullname }}</div>{% endif %}
          {% if project.role %}<div class="h6 thick mb-3">role: {{ project.role }}</div>{% endif %}
          <p class="resume-item-copy">{{ project.content | markdownify }}</p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">{{ project.duration }}</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <!-- end Projects -->
  {% endif %}



  {% if site.resume_section_community %}
  <!-- begin Community -->
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="community">
    <div class="my-auto">
      <h2 class="mb-5">Community</h2>

      {% for item in site.community %}
      <div class="resume-item" itemtype="http://schema.org/CreativeWork">
        <p  class="resume-content mr-auto">{{ item.content | markdownify }}</p>
      </div><!-- end of resume-item -->
      {% endfor %}
    </div>
  </section>
  <!-- end Community -->
  {% endif %}


</div><!--  end container-fluid  -->


     <!-- Bootstrap core JavaScript -->
     <script src="vendor/jquery/jquery.min.js"></script>
     <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

     <!-- Plugin JavaScript -->
     <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

     <!-- Custom scripts for this template -->
     <script src="js/resume.min.js"></script>

  </body>

</html>


